/.DS_Store
/Remember Me.swiftpm/.swiftpm/xcode/package.xcworkspace/xcuserdata/gabrielzhang.xcuserdatad/UserInterfaceState.xcuserstate
/Remember Me.swiftpm/.swiftpm/xcode/xcuserdata/gabrielzhang.xcuserdatad/xcschemes/xcschememanagement.plist
